# Android Studio & Gradle (Local only)
app/
build/
builds/
gradle/
.gradle/
.idea/
gradlew
gradlew.bat
build.gradle.kts
settings.gradle.kts
gradle.properties
local.properties
*.iml
*.jks
*.keystore

# Deployment caches
.firebase/
firebase.json
.firebaserc
web/