# Gradle and build caches
.gradle/
build/
app/build/
**/build/
/captures/
.externalNativeBuild/
.cxx/

# IDE files
.idea/
*.iml
.DS_Store

# Local properties & Security Keystores
local.properties
*.jks
*.keystore

# Firebase temp
.firebase/